<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calculator.tenghanjiang.calculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Calculator"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Calculator"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScientificActivity"
            android:label="Calculator"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
    </application>

</manifest>
